.empresaInf{
    background-color: rgb(17, 27, 27);
    padding: 20px;
    img{
        max-width: 100%;
    }
    p{
        margin-top: 20px;
        color: rgb(189, 178, 178);
        padding: 5px;
        font: {
            family: var(--bs-body-font-family);
            size: 20px;
            weight: 600;
        }
    }
}

.carousel-caption{
    color: white;
    font: {
        family: var(--bs-body-font-family);
        weight: bold;
        size: 30px;
    }
    h4{
        font-weight: bold;
    }
}
.carousel-item img{
    object-fit: cover;
    height: 90vh;
    max-width: 100%;
    filter: brightness(60%);
    margin: {
        top: 50px;
        bottom: 50px;
    }
}

.logo { 
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.aempresas {
    padding: 20px;
    margin: 20px;
    background-color: rgb(73, 73, 73);
    color: black;
    color: map-get($estilos, color);
    text-align:map-get($estilos, posicion);
    font: {
        family: var(--bs-body-font-family);
        size:map-get($estilos, tamañoFuente);
        weight: 600;
    }
}

.conthome{
    border: 2px;
    padding: 5px;
    width: auto;
    img {
        max-width: 60%;
        transform: translate(80px, 10px);
    }
    img:hover{
        filter:brightness(25%)
    }
}
.ferrum{
    transform: translate(0px, 30px);
}
.aqua{
    transform: translate(0px, 40px);
}
.redes {
    text-align: right;
    padding-right: 20px;
    background-color: #393c40;
}
.facebook {
    font-size: 3.5rem;
    color: #0e0e54;
    padding-right: 20px;
}

.instagram {
    font-size: 3.5rem;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 20px;

}
.pinterest{
    font-size: 3.5rem;
    color: red;

}