.entregadas{
    color: black;
    font: {
        family: var(--bs-body-font-family);
    }
    background: {
        size: 120px;
        repeat: repeat-x;
    }
    text-align:center;
    padding: 40px;
    font-size: 2.5rem;
}

.texto {
    color: white;
    font-size: 18px;
    background-color: black;
    line-height: 2;
    letter-spacing: 1px;
    padding: 40px;
    margin: 50px;
    font-family: 'Indie Flower', cursive;
}

.proyecto .col{
     margin: 0px;
    padding: 5px;
}
.proyecto .row{
    align-items: unset;
    padding-top: 40px;
}
.proyecto .card{
    margin: 10px;
}
.list-group-item {
    background-color: #68686b;
    color: rgb(14, 13, 13);
    font-weight: bold;
    
}
.card-body{
    color: rgb(15, 14, 14);
    background-color: #68686b;
    font-weight: bold;
}
.card {
    height: 110vh;
}