@media screen and (max-width: 1024px){
    .navbar-nav li{
        padding-left: 20px;
        padding-right: 20px;
        
    }
    .empresas :nth-child(1){
        grid-column: 1/3;
        grid-row: 1/2;
        padding: 10px;
        align-self: baseline;
    }
    .empresas {
        padding: 30px;
        width: auto;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
        }
    .inf {
        font-size: 1rem;
        padding: 20px;
        text-align: center;
    }
    .Diseño{
        justify-items: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .Diseño h2{
         padding: 20px;
    }
    .Diseño img{
        padding: 20px;
        max-width: 70%;
    }
    .Sistema {
        justify-items: center;
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
    }
    .Sistema h2{
        padding: 20px;
        
    }
    .Sistema img{
        padding: 20px;
        max-width: 50%;;
    }
    .empresas img {
        max-width: 70%;
    }
    .empr-amigas {
        text-align: center;
    }
    .diseñoSistema{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /* Comienzo Empresa */
    .titulo {
        font-size: 3rem;
    }
} 

@media screen and (max-width: 768px) {
    .logo {
        width: 50px;
        height: 50px;
    }
    .tituloServicio{
        font-size: 30px;
    }
    .servicioslista {
        padding: 20px;
        margin: 5px;
        font-size: 15px;
    }
    .row{
        display: table-row;
    }
    .nav a{
        display: flex;
        flex-direction:row;
        margin: 1px;
    }
    .nav-link.active {
        font-size: 16px;
    }
    .parrafo {
        text-align: center;
    }

    .fotoEmpresa img {
        max-width: 100%;
        margin-block-start: 20px;
        margin-block-end: 20px;   
    }
    .otra {
        display: flex;
        flex-direction: column-reverse !important; 
    }
    .col {
        margin: 0 auto;
        margin-bottom: 20px;
         
    }
    .historia {
        margin-bottom: 20px;
    }
    h4 {
        text-align: center;
    }
    .empresas{
        padding: 20px;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .empresas img {
        padding: 20px;
        max-width: 50%;
    }
    .ferrum{
        transform: translate(10px, -5px);
    }
    .empr-amigas {
        text-align: center;
    }
    .diseñoSitema{
        display: flex;
    }
    .datos{
        max-width: 100%;
    }
    .Diseño h2{
        padding: 10px;
    }
 
    .Diseño img{
        padding: 20px;
        max-width: 50%;
    }
    .Sistema h2{
        padding: 10px;
    }
    .Sistema img{
        padding: 20px;
        max-width: 50%;
    }
    .inf {
        font-size: 1rem;
        padding: 20px;
        text-align: center;
    }
    .Diseño {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Sistema {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
      
    .titulo {
        font-size: 2rem;
    }
    .fotoCo{
        width: 275px;
    }
    .garantia {
        font-size: 1rem;
    }
    .facebook{
        font-size: 2rem;
    }
    .instagram{
        font-size: 2rem;
    }
    .pinterest{
        font-size: 2rem;
    }
    footer h5{
        font-size: 0.75rem;
    }
    .card {
        height: 160vh;
    }
}

    
