.servicioslista {
    background-color: white;
    padding: 20px 50px;
    width: 500px;
    margin: 30px 40px;
    border: 5px solid black;
    font: {
        style: italic;
        family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        weight: bolder; 
    }
}
.garantia {
    background-color: black;
    color: white;
}