
h1{
    color: black;
    font-family:var(--bs-body-font-family);
    font-weight: 500;
}

.conDescrip{
    font-weight: 650;
}
.servicioslista {
    padding: 5rem;
    margin: 5rem;
    border: 5px solid black;
    background-color: #312f62;;
    color: #f8f9fa8f;
    font-size: 1.2rem;;
    font: {
        size: 1.2rem;
        family:var(--bs-body-font-family);
        weight: bolder; 
    }
}
.garantia {
    text-transform: uppercase;
    color: black;
    font-size: 1.5rem;
}